.App {
  font-family: ;
  background-color: #e1e0d6;
  margin: ;
  border-radius: 20px;
  text-align: center;
}

.lang {
  font-family: sans-serif;
  font-size: 15px;
  border-radius: 20px;
  padding: 3px;
  border-style: solid;
}
.realdeal {
  text-align: center;
}

.slide {
  align-self: auto;
  margin-top: 40px;
}

.money {
  position: relative;
  right: 4px;
  width: 30px;
  background-color: #a5b0a8;
  border-color: #a5b0a8;
  border-left: 0px;
  border-style: solid;
  border-radius: 0px 5px 5px 0px;
}
.money2 {
  position: relative;
  right: 3px;
  width: 30px;
  background-color: lightgray;
  border-left: 0px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 0px 5px 5px 0px;
}

.inputsss {
  position: relative;
  left: 6px;
  border-radius: 5px 0px 0px 5px;
  width: 225px;
  border-style: solid;
  border-color: #a5b0a8;
}
.inputsss2 {
  position: relative;
  left: 2.5px;
  border-radius: 5px 0px 0px 5px;
  border: 2px 0px;
  border-color: #a5b0a8;
  border-style: solid;
  width: 250px;
}

.inputsss3 {
  border-radius: 5px 0px 0px 5px;
  width: 230px;
  border-color: #a5b0a8;
  border-style: solid;
  position: relative;
  left: 5px;
}
.loandiv {
  position: relative;
}
